{% extends "layout.html" %}
{% block nav_contact %}current-menu-item{% endblock %}
{% block body %}

			<main class="main-content">
				<div class="fullwidth-block inner-content">
				  <div class="container">
				    <div class="col-xs-12" style="height:20px;"></div>
				    <h2 class="page-title">Contact | Share | Like | Follow us!</h2>
				    <div class="row">
				      
				      <div class="col-md-6">
					<div class="content">
					<p>
					  <a href="mailto:flightyellowfox@gmail.com" target="_blank">Mail</a>
					</p>
					<p>
					  <a href="https://www.facebook.com/flightoftheyellowfox" target="_blank">Facebook</a> | 
					  <a href="https://twitter.com/flightyellowfox" target="_blank">Twitter</a> | 
					  <a href="https://www.instagram.com/flightyellowfox" target="_blank">Instagram</a> | 
					  <a href="https://www.youtube.com/channel/UCm0XWhZ_QAZpHivSDNyFqMw" target="_blank">YouTube</a>
					</p>
					<p>
					  <a href="https://open.spotify.com/album/0LB7EBSvA2WoVqntjQ7BUP" target="_blank">Spotify</a> | 
					  <a href="https://music.apple.com/nl/album/1458871062?app=itunes&ign-mpt=uo%3D4" target="_blank">iTunes</a> | 
					  <a href="https://music.apple.com/nl/album/1458871062?app=music&ign-mpt=uo%3D4" target="_blank">AppleMusic</a> | 
					  <a href="https://play.google.com/store/music/album?id=Blgwg74yn2vg4mmzjgbnpfnc2wy" target="_blank">GooglePlay</a> | 
					  <a href="https://www.deezer.com/us/album/92662202?app_id=140685" target="_blank">Deezer</a> | 
					  <a href="https://www.amazon.com/Woolgathering/dp/B07QBBNSYP?tag=linkfire03-20" target="_blank">AmazonMusic</a> | 
					  <a href="https://us.napster.com/artist/flight-of-the-yellow-fox/album/woolgathering" target="_blank">Napster</a> | 
					  <a href="https://tidal.com/browse/album/107092246" target="_blank">Tidal</a> | 
					  <a href="https://soundcloud.com/flightyellowfox" target="_blank">Soundcloud</a>
					</p>
					</div>
					<!-- <form action="#" class="contact-form">
					     <input type="text" placeholder="Your name"..>
					     <input type="text" placeholder="Email Address..">
					     <input type="text" placeholder="Website...">
					     <textarea name="#" placeholder="Message..."></textarea>
					     <input type="submit" value="Send message">
					</form> -->
				      </div>
				     
				      <div class="col-md-6">
					    <!-- <div class="map-wrapper">
					      <div class="map"></div>
					      <address>
						<div class="row">
						  <div class="col-sm-6">
						    <strong>Flight Of The Yellow Fox</strong>
						    <span>Den Haag</span>
						  </div>
						  <div class="col-sm-6">
						    <a href="mailto:flightyellowfox@gmail.com">flightyellowfox@gmail.com</a> <br>
						  </div>
						</div>
					      </address>
					    </div>
				      </div>  -->
					     <!-- <div id='map'>
					     </div> -->
				      </div>
				</div> 
				
			</main> <!-- .main-content -->

        
			<!-- <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script> -->

			<!-- <script>
			  mapboxgl.accessToken = 'pk.eyJ1IjoiZ2lvc2FucyIsImEiOiJhWEpYTGg0In0.Z8wllDynnEkUJGpnsHwBuA';
			  const map = new mapboxgl.Map({
			  container: 'map',
			  style: 'mapbox://styles/giosans/cjeq7r0crevcd2rmtogj9v256',
			  center: [4.308990, 52.075750],
			  zoom: 15.7
			  });
			</script> -->			
		
		<!-- Mapbox alternative... Need to be worked further and go deep in plugins.js
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
		<script>
			mapboxgl.accessToken = 'pk.eyJ1IjoiZ2lvc2FucyIsImEiOiJhWEpYTGg0In0.Z8wllDynnEkUJGpnsHwBuA';
			var map = new mapboxgl.Map({
			    container: 'map', // container id
			    style: 'mapbox://styles/giosans/cjeq7r0crevcd2rmtogj9v256', // stylesheet location
			    center: [4.308990, 52.075750], // starting position [lng, lat]
			    zoom: 15.65 // starting zoom
			});

			var el = document.createElement('div');

			var marker = new mapboxgl.Marker(el)
			.setLngLat([-21.9270884, 64.1436456])
			.addTo(map);
        </script>
        -->

{% endblock %}
