{% extends "layout.html" %}
{% block nav_gallery %}current-menu-item{% endblock %}
{% block body %}

			<main class="main-content">
				<div class="fullwidth-block gallery">
					<div class="container">
						<div class="content fullwidth">
							<!-- <h2 class="entry-title">Gallery</h2> -->
							
							<div class="filter-links filterable-nav">
							  <div class="col-xs-12" style="height:20px;"></div>
								<select class="mobile-filter">
									<option value="*">Show all</option>
									<option value=".concert">Concert</option>
									<option value=".band">Band</option>
									<option value=".stuff">Recording</option>
								</select>
								
								<a href="#" class="current" data-filter="*">Show all</a>
								<a href="#" data-filter=".concert">Concert</a>
								<a href="#" data-filter=".band">Band</a>
								<a href="#" data-filter=".stuff">Recording</a>
							</div>
							<div class="filterable-items">
								<div class="filterable-item stuff">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 1"></figure></a>
								</div>
								<div class="filterable-item stuff">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 3"></figure></a>
								</div>
								<div class="filterable-item stuff">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 4"></figure></a>
								</div>
								<div class="filterable-item stuff">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 5"></figure></a>
								</div>
								<div class="filterable-item stuff">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 6"></figure></a>
								</div>
								<div class="filterable-item stuff">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 7"></figure></a>
								</div>
								<div class="filterable-item stuff">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 8"></figure></a>
								</div>
								
								<div class="filterable-item band">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 10"></figure></a>
								</div>
								<div class="filterable-item band">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 11"></figure></a>
								</div>
								
								<div class="filterable-item band">
									<a href="static/dummy/large-gallery/DSC02327.jpgg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 13"></figure></a>
								</div>
								<div class="filterable-item band">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 17"></figure></a>
								</div>						
								<div class="filterable-item band">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 14"></figure></a>
								</div>
								<div class="filterable-item band">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 15"></figure></a>
								</div>
								<div class="filterable-item band">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 16"></figure></a>
								</div>

								<div class="filterable-item stuff">
									<a href="static/dummy/large-gallery/DSC02327.jpg"><figure><img src="static/dummy/DSC02327_750x500.jpg" alt="gallery 9"></figure></a>
								</div>

							</div>
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				
			</main> <!-- .main-content -->


{% endblock %}
