{% extends "layout.html" %}
{% block nav_home %}current-menu-item{% endblock %}

	{% block body %}			
			<div class="hero">
				<div class="slider">
					<ul class="slides">
						<li class="lazy-bg" data-background="/static/dummy/slide-1.jpg">
							<div class="container">
								<h2 class="slide-title">Flight Of The Yellow Fox</h2>
								<h3 class="slide-subtitle">WOOLGATHERING</h3>
								<!-- <p class="slide-desc">out now<br></p> -->
								<iframe width="380" height="240" src="https://www.youtube.com/embed/QGFicumrZDo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								<!-- <iframe src="https://open.spotify.com/embed/album/0LB7EBSvA2WoVqntjQ7BUP" allowtransparency="true" allow="encrypted-media" width="300" height="80" frameborder="0"></iframe>  -->
								<!--  <a href="#" class="button cut-corner">Read More</a> class="button primary">Read More</a> gio -->
							</div>
						</li>
						<li class="lazy-bg" data-background="/static/dummy/slide-3.jpg">
							<div class="container">
								<!-- <h2 class="slide-title">2019.04.12</h2> -->
								<h2 style="padding: 60px;"></h2>
								<h3 style="padding: 60px;"></h3>
								<p class="slide-desc"><br></p>
								<!--  <a href="#" class="button cut-corner">Read More</a> class="button primary">Read More</a> gio -->
							</div>
						</li>
						<li class="lazy-bg" data-background="/static/dummy/slide-2.jpg">
							<div class="container">
								<h2 class="slide-title">WOOLGATHERING</h2>
								<h3 class="slide-subtitle">OUT NOW</h3>
								<!-- <p class="slide-desc">New album release<br></p> -->
								<iframe src="https://open.spotify.com/embed/album/0LB7EBSvA2WoVqntjQ7BUP" allowtransparency="true" allow="encrypted-media" width="300" height="80" frameborder="0"></iframe>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<main class="main-content">
				<div class="fullwidth-block testimonial-section">
					<div class="container">
						<div class="quote-slider">
							<ul class="slides">
								<li>
									<blockquote>
										<p>"This is just the beginning" </p>
										<cite>Jeff & Gio'</cite>
										<span>Flight Of The Yellow Fox</span>
									</blockquote>
								</li>
							</ul>
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				<div class="fullwidth-block upcoming-event-section" data-bg-color="#191919">
					<div class="container">
						<header class="section-header">
							<h2 class="section-title">News & Events</h2>

							<div class="event-nav">
								<a class="prev" id="event-prev" href="#"><i class="fa fa-caret-left"></i></a>
	    						<a class="next" id="event-next" href="#"><i class="fa fa-caret-right"></i></a>
							</div> <!-- .event-nav -->

						</header> <!-- .section-header -->
						<div class="event-carousel">
						    <div class="event">
								<div class="entry-date">
									<div class="date"></div>
									<span class="year">SOON</span>
								</div>
								<h2 class="entry-title"><a href="#">"Woolgathering" official release</a></h2>
								<p>First FOTYF album. Not without blood, tears and sweat, here we come with our first work.</p>
							</div> <!-- .event -->
							<div class="event">
								<div class="entry-date">
									<div class="date">12 Apr</div>
									<span class="year">2019</span>
								</div>
								<h2 class="entry-title"><a href="#">Woolgathering</a></h2>
								<p>FOTYF album out with 8 smashing songs! Official release 12-Apr-2019, available from all digital platforms</p>
							</div> <!-- .event -->	
							<div class="event">
								<div class="entry-date">
									<div class="date">01 May</div>
									<span class="year">2019</span>
								</div>
								<h2 class="entry-title"><a href="#">Share | Follow Us</a></h2>
								<p>On Facebook, Instagram, Twitter, Spotify, Deezer</p>
							</div> <!-- .event -->	
							<div class="event">
								<div class="entry-date">
									<div class="date">09 Aug</div>
									<span class="year">2019</span>
								</div>
								<h2 class="entry-title"><a href="#">Music video OUT</a></h2>
								<div class="content"><p><a href="https://bit.ly/2MOE62M" target="_blank">Whisper!!!</a> Share | Follow Everywhere</p></div>
							</div> <!-- .event -->
                            <!--<div class="event">
								<div class="entry-date">
									<div class="date">02 Nov</div>
									<span class="year">2019</span>
								</div>
								<h2 class="entry-title"><a href="#">Concert! Album release...</a></h2>
								<div class="content"><p><a href="https://www.facebook.com/events/911384265883768/" target="_blank">@Paardcafé!</a> Come to the show!</p></div>
							</div>-->
						</div> <!-- .event-carousel -->
					</div> <!-- .container -->
				</div> <!-- .upcoming-event-section -->

				<div class="fullwidth-block why-chooseus-section">
					<div class="container">
						<h2 class="section-title">Who are <strong>Flight Of The Yellow Fox</strong>?</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="/static/dummy/jeff_profile.jpg" alt="">
									</figure>
									<h3 class="feature-title">Jeff</h3>
									<p>Electric and Acoustic Guitar, Voice</p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="/static/dummy/gio_profile.jpg" alt="">
									</figure>
									<h3 class="feature-title">Gio'</h3>
									<p>Drums, Xylophone, Djembé, Backing Vocals</p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="/static/dummy/dennis_profile.jpg" alt="">
									</figure>
									<h3 class="feature-title">Dennis</h3>
									<p>Bass</p>
								</div> <!-- .feature -->
							</div>							
							<!--<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="/static/dummy/medium-image-3.jpg" alt="">
									</figure>
									<h3 class="feature-title">Similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum</h3>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</div> 
							</div> --> <!-- gio -->
						</div>
					</div> <!-- .container -->
				</div> <!-- .why-chooseus-section -->
			</main> <!-- .main-content -->
 	{% endblock body %}

