{% extends "layout.html" %}
{% block nav_listen %}current-menu-item{% endblock %}
{% block body %}
			
			<main class="main-content">
				<div class="fullwidth-block download">
					<div class="container">
					  <div class="row">
					    <div class="col-xs-12" style="height:20px;"></div>
							<div class="col-md-5">
								<h2 class="page-title">FOTYF</h2>
								<div class="item">
								    <h3 class="item-title">Whisper (Official Video)</h3>
								    <span class="year">2019</span>
								    <iframe width="100%" height="240" src="https://www.youtube.com/embed/QGFicumrZDo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="item">
									<h3 class="item-title">River</h3>
									<span class="year">2018</span>
									
									<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/582914697&color=%23ffcc00&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
									<!-- <audio controls><source src="https://dl.dropbox.com/..." type="audio/wav"></audio> -->
								</div>
								<div class="item">
									<h3 class="item-title">WOOLGATHERING (2019)</h3>
									<span class="year">Wanna listen to the entire WOOLGATHERING album?</span>
									
									<iframe src="https://open.spotify.com/embed/album/0LB7EBSvA2WoVqntjQ7BUP" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
									
									<!-- <span>Click <a href="https://imusiciandigital.lnk.to/S0aZe" target="_blank">HERE!</a></span> -->
								</div>
									<!--<a href="#" class="button small primary">Download</a>
									<a href="#" class="button small secondary">Listen to</a>
									<div class="social-share">
										<span>Share:</span>
										<a href="https://www.facebook.com/Flight-Of-The-Yellow-Fox-824442464406514/" target="_blank">
										  <i class="fa fa-facebook"></i>
										</a>
										<a href="https://www.instagram.com/flightyellowfox/" target="_blank">
										  <i class="fa fa-instagram"></i>
										</a>
										<!--
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-pinterest"></i></a>
										
									</div> -->

							<!--	<div class="item">
									<h3 class="item-title">River</h3>
									<span class="year">2018</span>
									<!--<a href="#" class="button small primary">Download</a>
									<a href="#" class="button small secondary">Listen to</a>
									<div class="social-share">
										<span>Share:</span>
										<a href="https://www.facebook.com/Flight-Of-The-Yellow-Fox-824442464406514/" target="_blank">
										  <i class="fa fa-facebook"></i>
										</a>
										<a href="https://www.instagram.com/flightyellowfox/" target="_blank">
										  <i class="fa fa-instagram"></i>
										</a>
										<!--
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-pinterest"></i></a>
										
									</div>								
								</div>
							</div>  -->
							
							<!--<div class="col-md-5 col-md-push-2">
								<h2 class="page-title">Cover</h2>

								<div class="item">
									<h3 class="item-title">Deserunt mollitia animi</h3>
									<span class="year">2014</span>
									<a href="#" class="button small primary">Download</a>
									<a href="#" class="button small secondary">Listen to</a>
									<div class="social-share">
										<span>Share:</span>
										<a href="https://www.facebook.com/Flight-Of-The-Yellow-Fox-824442464406514/" target="_blank">
										  <i class="fa fa-facebook"></i>
										</a>
										<a href="https://www.instagram.com/flightyellowfox/" target="_blank">
										  <i class="fa fa-instagram"></i>
										</a>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				
			</main> <!-- .main-content -->


		</div> <!-- #site-content -->
		
{% endblock %}
